@{
    ViewBag.Title = "About!!!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<i>Vad ska du med flyg och bil? Tåget för dig många mil!</i>

<i>Ta en tripp i andra klass, gratis vatten bruna dass!</i>

<strong>Jag kallas för Tore, fråga mig gärna varför</strong> 